.cards {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.cards__list {
  padding: 70px 70px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 32px 20px;
  justify-content: center;
}

.cards__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 80px;
  min-height: 140px;
}

.cards__button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__button:hover {
  border: 1px solid #2be080;
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1180px) {
  .cards__list {
    grid-template-columns: repeat(3, 270px);
  }
}

@media screen and (max-width: 1023px) {
  .cards__list {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 576px) {
  .cards__list {
    padding: 40px 10px 30px;
    grid-template-columns: repeat(1, 300px);
    gap: 20px;
  }

  .cards__button {
    width: 240px;
  }
}
