.card {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  /* height: 218px; */
}

.card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 12px;
}

.card__time {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
}

.card__text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.card__save-button {
  background: #f9f9f9;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  background-image: url(../../images/save-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.card__save-button:hover {
  box-shadow: 0px 0px 9px 7px rgba(43, 224, 128, 0.8);
  opacity: 0.6;
}

.card__save-button_active {
  background: #2be080;
  background-image: url(../../images/save-button.svg);
}

.card__delete-button {
  background-image: url('../../images/delete-button.svg');
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 576px) {
  .card__image {
    height: 168px;
  }
}
