.form-container {
  padding: 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.form__logo {
  width: 38px;
  height: 38px;
}

.form__title {
  margin: 0;
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form {
  min-height: 266px;
}

.form__button-save {
  width: 396px;
  height: 45px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}

.form__button-save:hover {
  opacity: 0.8;
}

.form__text {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.form__link {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__link:hover {
  color: #a0a0a0;
}
