.portfolio {
  box-sizing: border-box;
  padding: 0 70px 125px 70px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin-bottom: 30px;
}

.portfolio__list {
  list-style-type: none;
}

.portfolio__link {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.portfolio__link:hover {
  color: #a0a0a0;
}

.portfolio__link-border {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 19px;
}

.portfolio__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1023px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__text {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }
}
